@import '../_global.scss';

.header {
	@include size(100%, 75px);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	padding: 0 30px;
	gap: 15px;
	background: color(white);
	overflow: hidden;

	&__logo {
		grid-column: 1 / 3;
		grid-row: 1 / 13;
	}
	&__navigation {
		grid-column: 3 / 11;
		grid-row: 1 / 13;
	}
	&__avatar {
		grid-column: 12 / 13;
		grid-row: 1 / 13;
	}
}

.logo {
	@include \$components\$header\$logo;
}

.navigation {
	@include \$components\$header\$navigation;
}

.header__avatar {
	@include \$components\$header\$avatar;
}
