@import '../_global.scss';

// include partial and components
@include \$components\$header;

#fruit-page {
	display: grid;
	grid-auto-rows: 200px 200px 200px;
	grid-auto-columns: 450px 450px 450px;
	grid-auto-flow: column;
	gap: 72px;
	padding: 75px 150px;
	place: {
		content: center;
		items: center;
	}
}

.fruit {
	&__cart {
		@include flex;
		place: {
			content: center;
			items: center;
		}
		justify-items: center;
		align-content: space-between;
		align-items: center;
		@include size(450px, 150px);
		background: color(white);
		@include radius(15);
		padding: 15px;
		flex-direction: column;
		direction: rtl;
	}

	&__figure {
		@include clear-space;
		@include center;
		display: inline-flex;
		@include size($tog: 100px);
	}

	&__image {
		@include center;
		@include image-fit-cover;
		@include radius(15);
	}

	&__details {
		@include size(calc(450px - 100px - 30px - 15px), 100px);
		display: grid;
		gap: 5px;
		grid-template-rows: repeat(12, 1fr);
		grid-template-columns: repeat(12, 1fr);
		padding: 9px;
	}

	&__title {
		@include clear-space;
		@include size(100%, 37px);
		grid-column: 1 / 11;
		grid-row: 1;
		font-size: 24px;
		font-weight: bold;
		font-family: font(yekan, heavy);
	}

	&__quantity {
		grid-column: 1/11;
		grid-row: 6;
		font-size: 14px;
		font-weight: bold;
		font-family: font(yekan, light);
		color: color(black-50);
	}

	&__delete,
	&__edit {
		@include clear-button;
		grid-column: 12;
		background: color(primary);
		@include radius(5);
		@include size($tog: 24px);
	}

	&__delete {
		grid-row: 6;
		color: color(accent);
	}

	&__edit {
		grid-row: 1;
		color: color(secondary);
	}
}

.option {
	@include clear-list;
	@include flex(column);
	place-content: center;
	place-items: center;
	justify-content: space-around;
	@include size(55px, 155px);
	@include fixed($right: 15px, $bottom: 15px);
	padding: 5px;
	margin: 5px;

	&__item,
	&__link,
	&__icon {
		@include flex;
		place-content: center;
		place-items: center;
		@include size($tog: 45px);
	}

	&__link {
	}

	&__icon {
		@include radius;
		background: color(secondary);
		color: color(primary);
	}
}
